.child-row {
  background-color: gray;
}

div.collapsible {
  padding-left: 10px;
  background: url(/misc/menu-expanded.png) no-repeat 0 50% transparent;
}

div.collapsed {
  background: url(/misc/menu-collapsed.png) no-repeat 0 50% transparent;
}

.child-row-collapsed {
  display: none;
}
